@use "reset";
$basic-font: 16px;
$main-color: #7f03fc;

@mixin border($left) {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: lightgray 3px 2px;
  border-radius: 5px;
  border: 1px solid #eee;
  border-left: 5px solid $left;
  padding: 10px;
  width: 250px;
  height: 150px;
  .dash-info {
    margin-left: 15px;
  }
  h3 {
    font-size: $basic-font;
  }
  .dash-icon {
    margin-left: 40px;
    font-size: ($basic-font + $basic-font);
    position: absolute;
    top: 30%;
    right: 12px;
  }
}

header {
  border-bottom: 2px solid lightgray;
}
.nav-search {
  padding: 20px;
  display: flex;
  max-width: 1800px;
  margin: auto;
  position: relative;
  .nav-hidden-icon {
    display: none;
    position: absolute;
    top: 30%;
    right: 30px;
    font: $basic-font + 4px;
  }
}

.nav-search-wrap {
  position: relative;
  width: 50%;
  margin-left: 40px;

  input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    color: lightgray;
    height: 30px;
    padding: 5px;
  }
  input::-webkit-input-placeholder {
    text-align: left;
    font-size: ($basic-font + 2px);
  }

  input:focus {
    animation-name: slide;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  button {
    position: absolute;
    font-size: $basic-font;
    border: none;
    background-color: black;
    height: 30px;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
  }
}

@keyframes slide {
  from {
    width: 181px;
    height: 30px;
  }
  to {
    width: 70%;
    height: 30px;
  }
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-right: 30px;
    color: rgba(90, 74, 74, 0.781);
    font-size: $basic-font;
  }
}

.aside-container {
  width: 200px;
  height: 100%;
  position: fixed;
  z-index: 5;
  padding: 15px;
  text-align: center;
  transform: translateX(-150px);
  transition: all 1.5s;
  color: white;
  background-color: $main-color;
  i {
    transform: translateX(100px);
    text-align: right;
  }
  div {
    margin-top: 25px;
  }
}

.aside-container:hover {
  transform: translateX(0px);
  transition: all 1s;
}

.aside-container:hover i {
  transform: translateX(0px);
  transition: all 1s;
  text-align: left;
}

@keyframes span-move {
  0% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX((0px));
  }
}

.dashboard {
  width: 80%;
  height: 350px;
  margin: auto;
  padding: 50px;
  h2 {
    margin-bottom: 40px;
    padding: 20px;
  }
}

.dash-container {
  width: 80%;
  height: 300px;
  padding: 30px;
  margin: auto;
  .dash-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .green {
      @include border(skyblue);
    }
    .blue {
      @include border(blue);
    }
    .navy {
      @include border(navy);
    }
    .yellow {
      @include border(yellow);
    }
  }
}

.chart-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px;
  margin-bottom: 15px;

  .chart-box {
    width: 70%;
    height: 100%;
    border: 3px solid #eee;

    .chart-info {
      border: none;
      border-bottom: 3px solid #eee;
      padding: 10px;
      p {
        margin: 0px;
        font-weight: bolder;
      }
    }
    .chart-img {
      width: 100%;
      height: 100%;
      #myChart {
        width: 100%;
        height: 80%;
      }
    }
  }

  .task-container {
    padding: 10px;
    ul {
      box-shadow: lightgray 3px 2px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-search-wrap {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .nav-hidden-icon {
    display: block;
  }
}
