.gray {
  background: lightgray;
  height: 2000px;
  margin: auto;

  min-width: 900px;
}

.img {
  float: right;
  width: 400px;
  position: sticky;
  top: 100px;
  right: 50px;
}

.text {
  float: left;
  width: 300px;
  padding: 50px;
}

.text::after {
  content: "";
  display: block;
  clear: both;
}
